<footer class="text-white">
    <div class="p-5 bg-custom">
        <div class="container">
            <div class="row justify-content-md-between">
                <div class="col-md-5 col-lg-4 d-flex flex-column justify-content-between ">
                    <div class="logo">
                        <img src="../../../../assets/images/icon.png" alt="logo">
                        <h1>Future Edu Solutions</h1>
                    </div>
                    <!-- Footer social links -->
                    <div class="m-2">
                        <a  class="p-2 text-reset text-decoration-none" href="https://www.facebook.com/profile.php?id=100092663017966&mibextid=ZbWKwL" target="_blank">
                            <i class="bi bi-facebook"></i> 
                        </a>
                        <a  class="p-2 text-white text-decoration-none" href="https://chat.whatsapp.com/EmOrFZKbaem6B4E6MguMOp" target="_blank">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <!-- <a  class="p-2 text-white text-decoration-none">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a  class="p-2 text-white text-decoration-none">
                        </a> -->
                        </div>
                </div>
                <div class="col-md-7 col-lg-6 mt-5 mt-md-0 ">
                    <!-- Footer links -->
                    <div class="row">
                        <div class="col-6 col-md-4 mb-4 mb-md-0">
                            <h3 class="h6 text-uppercase mb-3">Services</h3>
                            <ul class="list-unstyled">
                                <li class="mb-1"><a  class="text-reset text-decoration-none">Consultancy</a></li>
                                <li class="mb-1"><a  class="text-reset text-decoration-none">Private tuition</a></li>
                                <li class="mb-1"><a  class="text-reset text-decoration-none">Exams preparation</a></li>
                                <!-- <li class="mb-1"><a routerLink="/question/add" class="text-reset text-decoration-none">Enter question</a></li> -->
                            </ul>
                        </div>
                        <div class="col-6 col-md-4 mb-4 mb-md-0">
                            <h3 class="h6 text-uppercase mb-3">Company</h3>
                            <ul class="list-unstyled">
                                <li class="mb-1"><a  class="text-reset text-decoration-none" routerLink="/about">About Us</a></li>
                                <li class="mb-1"><a  class="text-reset text-decoration-none" routerLink="/about">Contact Us</a></li>
                                <li class="mb-1"><a  class="text-reset text-decoration-none" routerLink="/jobs">Jobs</a></li>
                            </ul>
                        </div>
                        <!-- <div class="col-6 col-md-4">
                            <h3 class="h6 text-uppercase mb-3">Help</h3>
                            <ul class="list-unstyled">
                                <li class="mb-1"><a  class="text-reset text-decoration-none">FAQs</a></li>
                                <li class="mb-1"><a  class="text-reset text-decoration-none">Pricing</a></li>
                                <li class="mb-1"><a  class="text-reset text-decoration-none">Terms</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer bottom -->
    <div class="border-top border-gray py-3 bg-custom">
        <div class="container">
            <div class="row justify-content-between small">
                <div class="col-auto">
                    <a class="text-reset">Privacy Policy</a> | <a  class="text-reset text-decoration-none">Cookie Policy</a>
                </div>
                <!-- <div class="col-auto">
                    <a data-scroll="" href="#" class="d-inline-block text-reset" title="Up to the top">
                        <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-button-up-1</title><path d="M12,10.416a2.643,2.643,0,0,1,1.875.775l9.541,9.541a1.768,1.768,0,0,1-2.5,2.5l-8.739-8.739a.25.25,0,0,0-.354,0L3.084,23.232a1.768,1.768,0,0,1-2.5-2.5l9.541-9.541A2.643,2.643,0,0,1,12,10.416Z"></path><path d="M12,.25a2.643,2.643,0,0,1,1.875.775l9.541,9.541a1.768,1.768,0,0,1-2.5,2.5L12.177,4.327a.25.25,0,0,0-.354,0L3.084,13.066a1.768,1.768,0,0,1-2.5-2.5l9.541-9.541A2.643,2.643,0,0,1,12,.25Z"></path></svg>
                    </a>
                </div> -->
                <div class="col-auto">
                    <span>© Future edu solutions, All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
</footer>