<section>
    <video playsinline autoplay [muted]="true" loop poster="../../../../assets/images/poster.jpg" id="myVideo">
        <source src="../../../../assets/videos/background.mp4" type="video/mp4">
    </video>
</section>
<Section class="main-container">
    <main>
        <h1>Future Edu Solutions Pvt Ltd</h1>
        <p class="lead">
            Welcome to our organization, your go-to destination for all things related to teaching and learning. We
            provide a comprehensive platform for teachers, tutors, and students alike, offering a wide range of services
            to help you achieve your academic goals.
        </p>
        <p class="lead mt-5">
            <a href="#" class="know-us"> Know us
            </a>
        </p>
    </main>
</Section>
<section class="container cards" style="margin: 6rem auto;">
    <div class="row shadow">
        <div class="card col-md-3" >
            <img src="../../../../assets/images/icon-1.png" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Best Talent </h5>
              <p class="card-text">We posses best talented peopel team.</p>
            </div>
          </div>
          <div class="card col-md-3" >
            <img src="../../../../assets/images/icon-2.png" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Personalized experience</h5>
              <p class="card-text">Our approach is personalized, and we take the time to understand your unique situation and needs.</p>
            </div>
          </div>
          <div class="card col-md-3" >
            <img src="../../../../assets/images/icon-3.png" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Fair price</h5>
              <p class="card-text"> fair price for a service depends on various factors such as the type of service, the level of expertise required, the duration of the service, and the market demand.</p>
            </div>
          </div>
          <div class="card col-md-3">
            <img src="../../../../assets/images/icon-4.png" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title"> Professional Support</h5>
              <p class="card-text">we are dedicated to providing you with the assistance you need to succeed. Our team of experts is here to help you navigate any challenges you may be facing.</p>
            </div>
          </div>
    </div>

</section>

<!-- out services -->
<section class="services container mb-5">
    <div class="m-5 text-center">
        <h1 class="display-3 text-secondary">Education services that</h1>  <h1 class="display-3 text-secondary"> we are providing</h1>
    </div>
<div class="d-flex justify-content-between flex-wrap">
    <div class="shadow border service-card d-flex  flex-column">
        <img class="flex-grow-1" src="../../../../assets/images/s-1.jpg" >
        <p class="p-2">
            Teaching jobs consultancy services that specialize in education and teaching jobs.
        </p>
    </div>
    <div class="shadow border service-card d-flex flex-column">
        <img  src="../../../../assets/images/s-5.jpg" >
        <p class="p-2">
            Generated differnt exam paper by selecting questions from our vast question bank.
        </p>
    </div>
    <div  class="shadow border service-card d-flex flex-column">
        <img  src="../../../../assets/images/s-4.jpg" >
        <p class="p-2">
            Our team of experts has years of experience in preparing students for competitive exams.
        </p>
    </div>
    <div class="shadow border service-card d-flex flex-column">
        <img  src="../../../../assets/images/s-3.jpg" >
        <p class="p-2">
            We offer a comprehensive range of Test series and study materials.
        </p>
    </div>
    <div class="shadow border service-card d-flex flex-column">
        <img  src="../../../../assets/images/s-7.jpg" >
        <p class="p-2">
            Online classes, mock tests, and personalized coaching, to help you prepare for your exam with confidence.
        </p>
    </div>
    <div class="shadow border service-card d-flex flex-column">
        <img  src="../../../../assets/images/s-6.jpg" >
        <p class="p-2">
           Personalized tuition services for your personalized needs.
        </p>
    </div>

</div>
</section>