<header class="sticky-top ">
    <nav class="navbar">
        <div class="d-flex align-items-center" style="flex:1">
        <a routerLink="/home" class="logo" color="accent"><img width="50" src="../../../../assets/images/icon.png" alt="icon"></a>
        <div class="d-flex container-fluid justify-content-center">
         <ul class="nav">
        <li class="nav-item"><a routerLink="/home" mat-raised-button color="accent" aria-current="page">Home</a></li>
        <li class="nav-item"><a routerLink="/about" mat-raised-button color="accent">About</a></li>
        <li class="nav-item"><a routerLink="/jobs" mat-raised-button color="accent">Jobs</a></li>
      </ul>
    </div>
    </div>
      </nav>
</header>